<%= f.error_notification %>
<div class="form-inputs">
  <%= f.hidden_field :id %>
  <%= f.input :amount %>
  <%= f.input :title %>
  <%= f.input :note %>
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Remove bill" %>
</div>
