<%= simple_form_for(@bill_sheet) do |f| %>
  <div class="form-inputs">

    <% if @isCreator || f.object.new_record? %>
      <%= f.input :title, placeholder: "daytrip to Öland", label: false %>
      <%= f.input :description, placeholder: "Lorem ipsum dolor...", label: false %>

      <% unless f.object.new_record? %>
      <div class="form-group">
        <%= f.select :status,
                     options_for_select(BillSheet.statuses.keys,
                                        selected: @bill_sheet.status),
                     {},
                     class: "form-control" %>
      <% end %>

      </div>
    <% else %>
      <p class="lead">
        <span class="label label-success"><%= @bill_sheet.status %></span>
        <%= @bill_sheet.description %>
      </p>
    <% end %>
  </div>
  
  <%= f.fields_for :participants do |builder| %>
    <%= render "participant_fields", :f => builder %>
  <% end %>

  <p class="participant-fields">
    <%= link_to_add_fields "+ Add participant", f, :participants %>
  </p>

  <div class="form-actions">
    <%= link_to 'Cancel', @bill_sheet_path, class: "btn btn-default" %> <%= f.button :submit, class: "btn btn-primary" %>

  </div>
<% end %>
