<%= simple_form_for(@bill_sheet) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
  </div>
  <div class="form-group">
    <%= f.label :status %>
    <%= f.select :status, options_for_select(BillSheet.statuses.keys), {}, class: "form-control" %>
  </div>
  
  <%= f.fields_for :participants do |builder| %>
    <%= render "participant_fields", :f => builder %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
