<div class="fields participant-fields">

  <div class="input-group">
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-remove"></span>
      <%= link_to_remove_fields "remove", f %>
    </span>
    <%= f.input :name, placeholder: "Alice", label: false %>
    <%= f.hidden_field :id %>
  </div>

  <%= f.fields_for :bills do |builder| %>
    <%= render "bill_fields", :f => builder %>
  <% end %>
<br>
<p><%= link_to_add_fields "+ Add Bill", f, :bills %></p>
</div>
