<div class="row">
    <div class="col-xs-12">
        <h2><%= @bill_sheet.title %></h2>
        <%= link_to "Back", bill_sheets_path, class: "button-xs" %>
        <%= link_to "Edit", edit_bill_sheet_path(@bill_sheet), class: "button-xs" if @isCreator %>
        <br>
        <br>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p><strong>Status:</strong> <%= @bill_sheet.status %></p>
        <p><strong>description:</strong> <%= @bill_sheet.description %></p>
        <p><strong>Total Expenses:</strong> <%= @bill_sheet.total_expenses %></p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
    <% @bill_sheet.participants.each do |p| %>
      <li>
        <strong><%= p.name %></strong><br>        
        <% unless p.bills.empty? %>
            <strong>Contributed:</strong> <%= p.contribution %><br>
            
            <ol>
            <% p.bills.each do |bill| %>
              <li>
                <strong><%= bill.title %></strong>: <%= bill.amount %>
              </li>
            <% end %>
            </ol>

            <ol>
            <strong>Receives:</strong>
            <% p.transactions_incoming.each do |t| %>
            <li>
                <%= t.amount %>€ from <%= t.sender.name %>
            </li>
            <% end %>
            </ol>
            <ol>
            <strong>Owes</strong>
            <% p.transactions_outgoing.each do |t| %>
            <li>
                <%= t.amount %>€ to <%= t.target.name %>
            </li>
            <% end %>
            </ol>

        <% end %>
        <strong><%= p.name %>'s Debt:</strong> <%= p.debt %><br>
      </li>
    <% end %>
    </div>
</div>
<%- disqus_thread %>