<div class="row">
    <div class="col-xs-12">
        <h2><%= @bill_sheet.title %></h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p class="lead">
            <% if @bill_sheet.status == "open" %>
                <span class="label label-success"><i>open</i></span>
            <% else %>
                <span class="label label-default"><i>closed</i></span>
            <% end %>
            <%= @bill_sheet.description %>
            <%= link_to "Edit", edit_bill_sheet_path(@bill_sheet), class: "btn btn-primary btn-md pull-right" %>
        </p>
        <h3>Total Expenses<span class="pull-right"><%= @bill_sheet.total_expenses %> €</span></h3>
    </div>
</div>

<% @bill_sheet.participants.each do |p| %>
    <div class="list-group">
        <a href="#" class="list-group-item active">
            <strong><%= p.name %></strong>
            <i><span class="pull-right">contributed <%= p.bills.empty? ? 0.0 : p.contribution %> €</span></i>
        <a> 
        <% unless p.bills.empty? %>        
            <% p.bills.each do |bill| %>
              <a href="#" class="list-group-item">
                <strong><%= bill.title.empty? ? "unnamed bill" : bill.title %></strong>
                <span class="pull-right"><%= bill.amount %> €</span>
              </a>
            <% end %>

            <div class="list-group transactions">
                <strong>Receives:</strong>
                <% p.transactions_incoming.each do |t| %>
                    <% unless t.amount == 0.0 %>
                    <a href="#" class="list-group-item list-group-item-success">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                        <%= "#{'%.2f' % t.amount} € from #{t.sender.name}" %>
                    </a>
                    <% end %>
                <% end %>
            </div>
        <% end %>
        
        <div class="list-group transactions">            
            <strong>Owes:</strong>
            <% p.transactions_outgoing.each do |t| %>
                <% unless t.amount == 0.0 %>
                <a href="#" class="list-group-item list-group-item-danger">
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                    <%= "#{'%.2f' % t.amount} € to #{t.target.name}" %>
                </a>
                <% end %>
            <% end %>
        </div>
        
    </div>
<% end %>

<%- disqus_thread %>