<div class="row">
    <div class="col-xs-12">
        <h2><%= @bill_sheet.title %></h2>
        <%= link_to "Back", bill_sheets_path, class: "button-xs" %>
        <%= link_to "Edit", edit_bill_sheet_path(@bill_sheet), class: "button-xs" if @isCreator %>
        <br>
        <br>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <%= render "participants/form" %>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p><%= @bill_sheet.description %></p>
        <p><%= @bill_sheet.status %></p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
    <% @bill_sheet.participants.each do |person| %>
      <li>
        <strong><%= person.name %></strong>: <%= person.total_contribution %>

            <% person.bills.each do |bill| %>
              <li>
                <strong><%= bill.title %></strong>: <%= bill.amount %>
              </li>
            <% end %>
      </li>
    <% end %>
    </div>
</div>