<%# add navigation links to this file %>
<li>
  <%= link_to new_bill_sheet_path do %>
  <span class="glyphicon glyphicon-edit"></span>
    New Bill Sheet
  <% end %>
</li>

<% if user_signed_in? %>
  <li>
    <%= link_to edit_user_registration_path do %>
    <span class="glyphicon glyphicon-user"></span>
      Edit Account
    <% end %>
  </li>
  <li>
    <%= link_to(destroy_user_session_path, method: :delete)  do %>
    <span class="glyphicon glyphicon-log-out"></span>
    Logout
    <% end %>
  </li>

<% else %>
  <li>
    <%= link_to new_user_session_path do %>
      <span class="glyphicon glyphicon-log-in"></span>
      Login/Sign up
    <% end %>
  </li>
<% end %>

<li>
  <%= link_to page_path('about') do %>
  <span class="glyphicon glyphicon-question-sign"></span>
    About
  <% end %>
</li>